<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="../templates/header :: header">
        <!--https://sweetalert2.github.io/-->

       


    </head>
    <body>
      <div class="container">
            
             <div th:replace="../templates/header :: menu"/>
        </div> 
        
    
   <div class="row">
    <nav class="col-sm-3" id="myScrollspy">
      <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="300">
        <li class="active"><a href="#responsive" >Table Boostrap responsive</a></li>
        <li><a href="#source_html">Afficher source HTML dans une page web</a></li>
        <li><a href="#drop">Drop down Bootstrap</a></li>
         <li><a href="#Security">Spring Security</a></li>
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#section41">Section 4-1</a></li>
            <li><a href="#section42">Section 4-2</a></li>
          </ul>
        </li>
      </ul>
    </nav>

        
       <div class="col-sm-9">
           
           
           <div id="responsive">
        <div class="container" >
            <br>
            <br><br>
            <div class="table-responsive">
                <table class="table" >     
                    <thead> 
                        <tr>
                            <th>Table Bootstrap responsive</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                         <td class="td_source">
                     Code Source        
                         </td> 
                     </tr>
                        <tr>
                            <td>
        <xmp>     
            <div class="table-responsive">
                <table class="table" >     
                    <thead> 
                        <tr>
                            <th>Table Bootstrap responsive</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>

                            </td>    
                        </tr>
                    </tbody> 
                </table>   
            </div>
        </xmp>
                    </td>    
                    </tr>
                    </tbody> 
                </table>   
            </div>
        </div>
           </div>
<div id="source_html">
     <br>
            <br><br>
        <div class="container" >
            <div class="table-responsive-sm">
                <table class="table"  >     
                    <thead> 
                        <tr>
                            <th>Afficher source HTML dans une page web</th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr>
                         <td class="td_source">
                     Code Source        
                         </td> 
                     </tr>
                        <tr>
                            <td>
                    <xmp>    <xmp> </xmp>

                        </td>    
                        </tr>
                        </tbody> 
                </table>   
            </div>
        </div>
      </div>
        <div class="container" id="drop">
             <br>
            <br><br>
            <div class="table-responsive">
                <table class="table" >     
                    <thead> 
                        <tr>
                            <th>Drop down Bootstrap</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                         <td class="td_source">
                     Code Source        
                         </td> 
                     </tr>
                        <tr>
                            <td>
                    <xmp>      
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@{/}">Question & Réponse
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="page1">Page 1</a></li>
                                <li><a href="page2">Page 2</a></li>
                                <li><a href="page3">Page 3</a></li>
                            </ul>
                        </li> 
                    </xmp>

                    </td>  

                    <tr>  
                        
                        
                        <td class="td_source"> Remarque</td>
                    </tr>
                    <tr>  
                        <td>  
                        
                        Il faut faire l'appel à "bootstrap-dropdown.js" <br>
                        Le chemin dans <b><xmp> <a class="dropdown-toggle" data-toggle="dropdown" href="@{/}"> </xmp> </b>  doit être le lien principale
                        puis dans les filles toogle il contient la suite du lien <br>
                     Exemple : le lien est <b>/test/page1 </b> dans le  lien principale on met <b>/test</b> <br>
                            et dans les fille on met <b>page1</b>
                </td> </tr>
                    </tbody> 
                </table>   
            </div>
        </div>

    <div class="container" id="Security">
         <br>
            <br><br>
            <div class="table-responsive-sm">
                <table class="table"  >     
                    <thead> 
                        <tr>
                            <th>Spring Security</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                         <td class="td_source">
                             Fichier de configuration
                         </td> 
                     </tr>
                         <tr>
                             <td>La configuration de la securite dans le fichier
                    <xmp>SecurityConfig</xmp>
                             </td>
                         </tr>
                      
                     <tr>
                         <td class="td_source">
                             Fonction <b>configure</b>
                             
                        
                         </td> 
                     </tr>
                     
                       <tr>
                           <td> Cette fonction permet de définir les utilisateurs   <br>
                                 
                    <xmp>http.csrf().disable()
			.authorizeRequests()
				.antMatchers("/css/**").permitAll()
                                .antMatchers("/salle/**").hasAnyRole("ADMIN")
				.anyRequest().authenticated()
				.and()
			.formLogin()
				.loginPage("/login") // 
				.permitAll()
				.and()
			.logout()
				.permitAll()
                        .and()
                .exceptionHandling().accessDeniedHandler(accessDeniedHandler);</xmp>
                       <br>
                       Permission à tous les utilisateurs accès au page 
                       <xmp>.authorizeRequests().antMatchers("/css/**")..permitAll()</xmp> 
                       <br>
                        Permission à "Admin" pour l'accès au page 
                       <xmp>.antMatchers("/salle/**").hasAnyRole("ADMIN")</xmp> 
                         <br>
                         Définir la page d'authentification
                       <xmp>.formLogin().loginPage("/login")</xmp> 
                       
                             </td>
                         </tr>
                     <tr>
                         <td class="td_source">
                             Fonction <b>configureGlobal</b>
                             
                        
                         </td> 
                     </tr>
                        <tr>
                            <td>
                                Cette fonction permet de définir les utilisateurs   <br>  
                    <xmp>    auth
                .inMemoryAuthentication()
                .withUser(User
                        .withDefaultPasswordEncoder()
                        .username("admin")
                        .password("123")
                        .roles("ADMIN").build()); </xmp>

                        </td>    
                        </tr>
                        
                        <tr>
                         <td class="td_source">
                             Remarque
                             
                        
                         </td> 
                     </tr>
                        <tr>
                            <td>
                                Il faut gérer la sécurité des fichies Styles tel que Css  <br>  
                    <xmp>.authorizeRequests().antMatchers("/css/**")..permitAll()     </xmp>

                        </td>    
                        </tr>
                        
                        </tbody> 
                </table>   
            </div>
        </div>


 <div class="container">
            <div class="table-responsive-sm">
                <table class="table"  >     
                    <thead> 
                        <tr>
                            <th>GitHub</th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr>
                         <td class="td_source">
                     Commande    
                         </td> 
                     </tr>
                        <tr>
                     <td>  Version
                    <xmp>   git --version </xmp>

                     </td>  
                     
                         </tr>

                         <tr>

                      <td>  Etat des fichiers
                    <xmp>   git status </xmp>

                     </td> 
                     
                         </tr>

                         <tr>

                     <td>  Initialisation du fichier ".git" comme le fichier ".svn"
                    <xmp>   git init</xmp>

                     </td> 
                     
                         </tr>

                         <tr>

                      <td>  Ajout tous les fichiers
                    <xmp>   git add ./ </xmp>

                     </td>
                     
                         </tr>

                         <tr>

                        <td>  Commit -m pour spécifier le message: C'est un commit local sur PC
                             
                    <xmp>   git commit </xmp>

                     </td>
                     
                         </tr>

                         <tr>

                      <td>  Connecter mon fichier à l'URL du gir  
                             
                    <xmp>   git remote add origin URL </xmp>

                     </td>
                     
                         </tr>

                         <tr>

                        <td>  Verification 
                             
                    <xmp>   git remote -v </xmp>

                     </td>
                     
                     
                         </tr>

                         <tr>

                     <td>   Push (--force optional si le push n'est pas faite)
                             
                    <xmp>   git push origin master --force </xmp>

                     </td>

                     
                        </tr>
                        
                        
                        
                        
                        </tbody> 
                </table>   
            </div>
        </div>
           
    <div class="container">
            <div class="table-responsive-sm">
                <table class="table"  >     
                    <thead> 
                        <tr>
                            <th>LinkedList vs. ArrayList</th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr>
                         <td class="td_source">
                     Commande    
                         </td> 
                     </tr>
                        <tr>
                     <td>  

The most notable difference between the LinkedList and the ArrayList is in the way they store objects.
The ArrayList is better for storing and accessing data, as it is very similar to a normal array.
The LinkedList is better for manipulating data, such as making numerous inserts and deletes.

In addition to storing the object, the LinkedList stores the memory address (or link) of the element that follows it. It's called a LinkedList because each element contains a link to the neighboring element.
     
                     </td>  
                     
                         </tr>

                        
                        
                        
                        
                        </tbody> 
                </table>   
            </div>
        </div>     
           
           
             <div class="container">
            <div class="table-responsive-sm">
                <table class="table"  >     
                    <thead> 
                        <tr>
                            <th>HashMap</th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr>
                         <td class="td_source">
                     HashMap    
                         </td> 
                     </tr>
                        <tr>
                     <td>  



Arrays and Lists store elements as ordered collections, with each element given an integer index.
HashMap is used for storing data collections as key and value pairs. One object is used as a key (index) to another object (the value). 
The put, remove, and get methods are used to add, delete, and access values in the HashMap.
Example:
import java.util.HashMap;
                    <xmp>
public class MyClass {
  public static void main(String[ ] args) {
    HashMap<String, Integer> points = new HashMap<String, Integer>();
    points.put("Amy", 154);
    points.put("Dave", 42);
    points.put("Rob", 733);
    System.out.println(points.get("Dave")); 
  }
}    
</xmp>
                     </td>  
                     
                         </tr>

                        
                        
                        
                        
                        </tbody> 
                </table>   
            </div>
        </div>   
       <div class="container">
            <div class="table-responsive-sm">
                <table class="table"  >     
                    <thead> 
                        <tr>
                            <th>Iterators</th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr>
                         <td class="td_source">
                     Iterators    
                         </td> 
                     </tr>
                        <tr>
                     <td>  


An Iterator is an object that enables to cycle through a collection, obtain or remove elements. 
Before you can access a collection through an iterator, you must obtain one. Each of the collection classes provides an iterator() method that returns an iterator to the start of the collection. By using this iterator object, you can access each element in the collection, one element at a time.

The Iterator class provides the following methods:
hasNext(): Returns true if there is at least one more element; otherwise, it returns false.
next(): Returns the next object and advances the iterator.
remove(): Removes the last object that was returned by next from the collection.
                    <xmp>
import java.util.Iterator;
import java.util.LinkedList;

public class MyClass {
   public static void main(String[ ] args) {
  LinkedList<String> animals = new LinkedList<String>();
  animals.add("fox");
  animals.add("cat");
  animals.add("dog");
  animals.add("rabbit");

  Iterator<String> it = animals.iterator();
  String value = it.next();
  System.out.println(value);
}
}
//Outputs "fox"   
</xmp>
                     </td>  
                     
                         </tr>

                        
                        
                        
                        
                        </tbody> 
                </table>   
            </div>
        </div>      
           
       
                 <div class="container">
            <div class="table-responsive-sm">
                <table class="table"  >     
                    <thead> 
                        <tr>
                            <th> Types of Web Storage Objects</th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr>
                         <td class="td_source">
                      Types of Web Storage Objects    
                         </td> 
                     </tr>
                        <tr>
                     <td>  

  Types of Web Storage Objects

There are two types of web storage objects:
- sessionStorage()
- localStorage()

Local vs. Session
- Session Storage is destroyed once the user closes the browser
- Local Storage stores data with no expiration date

                     </td>  
                     <td>
                         The syntax for web storage for both local and session storage is very simple and similar.
The data is stored as key/value pairs.

Storing a Value:
localStorage.setItem("key1", "value1");

Getting a Value:
//this will print the value
alert(localStorage.getItem("key1")); 

Removing a Value:
localStorage.removeItem("key1");

Removing All Values:
localStorage.clear();

                     </td>
                     
                     
                     
                         </tr>

                        
                        
                        
                        
                        </tbody> 
                </table>   
            </div>
        </div>  
           
           
              <div class="container">
            <div class="table-responsive-sm">
                <table class="table"  >     
                    <thead> 
                        <tr>
                            <th>placeholder</th>
                        </tr>
                    </thead>
                    <tbody>
                     <tr>
                         <td class="td_source">
                      placeholder  
                         </td> 
                     </tr>
                        <tr>
                     <td>  

  
           HTML5 has introduced a new attribute called placeholder. On <xmp><input></xmp> and <xmp><textarea></xmp> 
elements, this attribute provides a hint to the user of what information can be entered into the field.
<xmp><form>
   <label for="email">Your e-mail address: </label> 
   <input type="text" name="email" placeholder="email@example.com" /> 
</form></xmp>
                     </td>
                      </tr>
                     <tr>
                         <td class="td_source">
                      autofocus  
                         </td> 
                     </tr> 
                     
                        <tr>
                         <td>
                     The autofocus attribute makes the desired input focus when the form loads 
                         </td> 
                     </tr>

    </tr>
                     <tr>
                         <td class="td_source">
                      autocomplete  
                         </td> 
                     </tr> 
                     
                        <tr>
                         <td>
                       The autocomplete attribute specifies whether a form or input field should have autocomplete turned on or off.
When autocomplete is on, the browser automatically complete values based on values that the user has entered before.

                        
                         </td> 
                     </tr>
                     
<tr>
                         <td class="td_source">
                     HTML5 added several new input types:
                         </td> 
                     </tr> 
<tr>
                         <td>
                    - color
- date
- datetime
- datetime-local
- email
- month
- number
- range
- search
- tel
- time
- url
- week  
                         </td> 
                     </tr> 
<tr>
                         <td class="td_source">
                     
HTML5 added several new input types:
                         </td> 
                     </tr> 
<tr>
                         <td>
                     
- autofocus
- form
- formaction
- formenctype
- formmethod
- formnovalidate
- formtarget
- height and width
- list
- min and max
- multiple
- pattern (regexp)
- placeholder
- required
- step
                         </td> 
                     </tr> 

<tr>
                         <td class="td_source">
                     

Creating a Search Box
                         </td> 
                     </tr> 
<tr>
                         <td>
                     
The new search input type can be used to create a search box:
<xmp><input id="mysearch" name="searchitem" type="search" /></xmp>

Search Options

The <xmp><datalist></xmp> tag can be used to define a list of pre-defined options for the search field:
<xmp><input id="car" type="text" list="colors" />
<datalist id="colors">
   <option value="Red">
   <option value="Green">
   <option value="Yellow">
</datalist></xmp>
                         </td> 
                     </tr> 




                        
                        
                        </tbody> 
                </table>   
            </div>
        </div>  
           
           
           
           
           
           
           
  </div>
         </div>
        
      
        
        <div th:replace="footer :: footer"/>
<style>

            #myInput {
                background-image: url('/css/search.png');
                background-position: 10px 10px;
                background-repeat: no-repeat;
                width: 100%;
                font-size: 16px;
                padding: 12px 20px 12px 40px;
                border: 1px solid #ddd;
                margin-bottom: 12px;
            }


            tbody {
                background-color: #E8E8E8;
            }
           /* body {
  position: relative;*/ /* For scrollyspy */
 /* padding-top: 50px; *//* Account for fixed navbar *//*
}       
*/
/*  .affix {
      top: 50px;
      z-index: 9999 !important;
  }*/
               /* #navmenu-side.affix {
      position: fixed;
      top: 300px;
      width: 100%;
   
    }/*
#navmenu-side.affix-bottom {
  position: absolute;
  width: 100%;
}*/

 /*.menu_affix{
    position: fixed;
      top: 200px;
      width: 100%;
      z-index: 100;
  
   
  
}*/
 
 /*.col-sm-9:hover{
     position: absolute;
  top: 200px;
 left:30%;
    transform: translate(0px, 200px);
 }*/
 ul.nav-pills {
      top: 150px;
      position: fixed;
  }
  
 /*  @media screen  {
    #section1, #section2, #section3, #section41, #section42  {
        margin-top: 150px;
        height:200px;
    }*/

 /* #responsive, #source_html, #drop, #Security {
        margin:50px auto 50px auto;
       position: relative;
    }*/
  
  
        </style>
        <script>
           /* $('#myScrollspy').affix({
      offset: {
        top: $(window).top() * .1075
      }
}); */
    
    
    
            </script>
    </body>
</html>
